.userListHeaderWrapper{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    line-height: 8px;
}

.button {
    margin: 0;
    padding: 0;
    i{
        background-color: transparent;
    }
    i::before {
        font-size: 23px;
    }
    border: none;
    background-color: transparent;
}

.chat{
    flex: 1;
    margin: 0 10px 10px 10px;
    margin-left: 40px;
    margin-top: 7px;
    cursor: pointer;
    .chat-list-item{
        margin-left: 40px;
    }
}

.participants{
    flex: 1;
    margin: 0 10px 10px 10px;
    cursor: pointer;
}